<!-- start metafield-view snippet -->
{% comment %}
For a full write-up of how this works, visit:
finetunepartners.com/insights/metafields-in-shopify-without-apps
{% endcomment %}
<section aria-label="View existing metafields">
    <h2>View existing metafields</h2>
    <p>This form lets you view (in a <abbr title="JavaScript Object Notation">JSON</abbr> file) what the current metafields look like, in various content types.</p>

    <fieldset>
        <legend>Pick a content block</legend>

        {% render 'metafield-view-pages' %}
        {% render 'metafield-view-products' %}
        {% render 'metafield-view-product-variants' %}
        {% render 'metafield-view-collections' %}
        {% render 'metafield-view-articles' %}

        <p><button type="button" id="view-json">View <abbr>JSON</abbr></button></p>
    </fieldset>

</section>

<script src="{{ 'metafield-view.js' | asset_url }}"></script>
<!-- end metafield-view snippet -->
