<!-- start {{ template }} -->
{% form 'reset_customer_password', class: 'container' %}
  <h1>Reset Password</h1>
  {{ form.errors | default_errors }}

  <p{% if form.errors contains 'password' %} class="error"{% endif %}>
    <label for="password">Password</label>
    <input type="password" name="customer[password]" id="password" size="16">
  </p>

  <p{% if form.errors contains 'password_confirmation' %} class="error"{% endif %}>
    <label for="password">Confirm password</label>
    <input type="password" name="customer[password_confirmation]" id="password" size="16">
  </p>

  <p><input type="submit" value="Reset password"></p>
{% endform %}
<!-- end {{ template }} -->
